---
nick: Mathetes
password: 'thesecretpassword'
channels:
    - name: '#mathetes'
      ops: true
    - name: '#ramaze'
plugins:
  - channel-util
  # currently broken
  # - chanstats
  - convert
  - dictionary
  - down-for-me
  - etymology
  - github-hook
  - google-fight
  - google
  - kicker
  - last-spoke
  # needs a database & table
  # - memo
  - nick-info
  - pun
  - rss
  - russian-roulette
  - sample
  - spell
  - translate
  - twitter
  - url-summary
  - web-scrape

